.add-movie {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  border: var(--default-border);
  border-radius: var(--default-border-radius);
  margin-bottom: 2rem;
  padding: 1rem;
  width: 500px;
}

.add-movie .actions {
  display: flex;
}

.add-movie .actions .empty-space {
  flex: var(--left-col-flex);
}

.add-movie .actions .action-buttons {
  display: flex;
  justify-content: space-between;
  flex: var(--right-col-flex);
  margin-left: -0.5rem;
}
