@import url("./AddMovie.css");
@import url("./Button.css");
@import url("./Input.css");
@import url("./MovieCard.css");
@import url("./MovieList.css");
@import url("./Range.css");
@import url("./Select.css");

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  --default-border: 2px solid black;
  --default-border-radius: 5px;
  --default-input-padding: 0.5rem;
  --default-label-size: 1.2rem;
  --left-col-flex: 2;
  --right-col-flex: 3;
}

body {
  margin: 1rem;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}
