.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: black;
  color: whitesmoke;
  padding: 1rem 2rem;
  width: 100%;

  position: fixed;
  top: 0;
}

.header .links {
  display: flex;
  gap: 2rem;
}

.header .links .link {
  color: whitesmoke;
  font-size: 1.5rem;
  text-decoration: none;
}
